In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'D:\1 та 2 семестр\2 курс\Питон\DataScince\Book\books.csv')

In [3]:
df.head(7)

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin
5,"Nature of Statistical Learning Theory, The","Vapnik, Vladimir",tech,data_science,230,Springer
6,Integration of the Indian States,"Menon, V P",nonfiction,history,217,Orient Blackswan

In [4]:
#Ex2

df[((df["Publisher"].str.lower().str.count(r'[aeiou]'))==1) | ((df["Publisher"].str.lower().str.count(r'[aeiou]'))==0)]

,Title,Author,Genre,SubGenre,Height,Publisher
8,Image Processing & Mathematical Morphology,"Shih, Frank",tech,signal_processing,241,CRC
21,"Analysis, Vol I","Tao, Terence",tech,mathematics,248,HBA
37,False Impressions,"Archer, Jeffery",fiction,novel,177,Pan
53,"Complete Mastermind, The",BBC,nonfiction,trivia,178,BBC
61,Principles of Communication Systems,"Taub, Schilling",tech,signal_processing,240,TMH
71,"Prisoner of Birth, A","Archer, Jeffery",fiction,novel,176,Pan
117,One,"Bach, Richard",nonfiction,autobiography,172,Dell

In [5]:
#Ex3
names = df['Author'].str.extract('(?P<last_name>\w+)')

names = names['last_name'].str.findall('^[^AEIOUY]*[^aeiouy]$')
names

0             []
1      [Foreman]
2      [Hawking]
3       [Dubner]
4         [Said]
         ...
206           []
207           []
208           []
209           []
210    [Dickens]
Name: last_name, Length: 211, dtype: object

In [6]:
#Ex4 !!!
#TERRIBLE ! 
df[((((df["Title"].str.lower().str.count('a'))!=0) & ((df["Title"].str.lower().str.count('e'))!=0)) & 
  (((df["Title"].str.lower().str.count('i'))!=0) & ((df["Title"].str.lower().str.count('u'))!=0)))&
   (((df["Title"].str.lower().str.count('y'))!=0) & ((df["Title"].str.lower().str.count('o'))!=0))]

,Title,Author,Genre,SubGenre,Height,Publisher
5,"Nature of Statistical Learning Theory, The","Vapnik, Vladimir",tech,data_science,230,Springer
34,Surely You're Joking Mr Feynman,"Feynman, Richard",science,physics,198,Random House
61,Principles of Communication Systems,"Taub, Schilling",tech,signal_processing,240,TMH
98,"Age of Discontuinity, The","Drucker, Peter",nonfiction,economics,178,Random House
147,Justice League: The Villain's Journey,NaN,fiction,comic,258,NaN
180,Data Analysis with Open Source Tools,"Janert, Phillip",tech,data_science,230,NaN
184,"Justice, Judiciary and Democracy","Ranjan, Sudhanshu",nonfiction,legal,224,NaN
190,"History of England, Foundation","Ackroyd, Peter",nonfiction,history,197,NaN

In [7]:
#Ex5
two = df['Title'].str.split(' ')
two = df[(df['Title'].str.len())==2]

two
# no books with 2 letters

Empty DataFrame
Columns: [Title, Author, Genre, SubGenre, Height, Publisher]
Index: []

In [8]:
#Ex6 !!!
ex = df['Author'].str.extract('(?P<name> \w+)',expand = False)
ex= df['Author'].str.findall(r'[^AEIOUY]*[^aeiouy]+')
ex

0         [Goswami, Jaidev]
1           [Foreman, John]
2        [Hawking, Stephen]
3         [Dubner, Stephen]
4          [Said, Edw, ard]
               ...
206           [Tao, Terenc]
207        [Edd, ins, Stev]
208       [Orw, ell, Georg]
209    [Dostoevsky, Fyodor]
210      [Dickens, Charles]
Name: Author, Length: 211, dtype: object

In [9]:
#Ex7
df["Title"].str.split().str.get(-1)

0               Wavelets
1                  Smart
2               Integers
3      Superfreakonomics
4            Orientalism
             ...
206           Randomness
207               MATLAB
208                 Farm
209                  The
210                    A
Name: Title, Length: 211, dtype: object

In [10]:
#Ex8
five = df['Author'].str.extract('(?P<last_name>\w+)')
five[five["last_name"].str.len() == 5]

    last_name
6       Menon
14      Eraly
15      Kafka
16      Pratt
18      Wells
27      Camus
28      Doyle
29      Doyle
30      Smith
33      Capra
44      Capra
54      Dylan
55      Gupta
65      Brown
67      Ghosh
72      Nayar
111     Aczel
116     Capra
121     Nehru
130     Wells
133     Singh
136     Singh
156     Mohan
168     Verne
181     Sagan
189     Zaidi
195     Brown